<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="20"></spacer>
          <container class="border-radius-top">
            <spacer size="16"></spacer>
            <row class="email-border">
              <columns large="6" small="6">
                <a href="" class="logo" target="_blank"><img src="https://www.eltima.com/submit/promo/37891/img/group@2x.png" width="122" height="30" alt="FlaxiHub"></a>
              </columns>
              <columns large="6" small="6">
                <p class="text-right">
                  <a href="" target="_blank" class="open-browser"><img src="https://www.eltima.com/submit/promo/37891/img/head-open-in-browser-icon@2x.png" width="26" height="26" alt="Head open in browser"/></a>
                </p>
              </columns>
            </row>
          </container>
          <container class="row-img-bg">
            <spacer size="41"></spacer>
            <row>
              <columns large="4" small="12" class="large-offset-1">
                <div class="email-badge">Update 3.3</div>
              </columns>
            </row>
            <spacer size="16"></spacer>
            <row>
              <columns large="9" small="12" class="large-offset-1">
                <span class="heading">Meet new connection option!</span>
              </columns>
            </row>
            <spacer size="12"></spacer>
            <row>
              <columns large="9" small="12" class="large-offset-1">
                <span class="description">
                  FlexiHub keeps getting better! Today, we are happy to announce the latest update to 
                  <a href="" class="basic-link link-white">FlexiHub for Windows.</a>
                </span>             
              </columns>
            </row>
          </container>
          <container class="border-radius-bottom bg-white">
            <spacer size="60"></spacer>
            <row>
              <columns large="9" small="12" class="large-offset-1">
                <p class="basic-text">The new version adds lots of bug fixes as well as the new outstanding feature called <strong>“Keep connections active”</strong>. The new option will let you stay connected to your remote devices even if your computer temporarily lost the Internet connection, or the device was unplugged from the server machine for a few minutes. For more details, see FlexiHub <a href="" class="basic-link link-blue">user guide.</a></p>

                <p class="basic-text">The new connection option is now available in the Options menu.</p>
              </columns>
              
            </row>
            <spacer size="14"></spacer>
            <row>
              
              <columns large="9" small="12" class="large-offset-1">
                <a href="" class="button-custom">Download FlexiHub</a>
              </columns>
             
            </row>
            <spacer size="24"></spacer>

          </container>
          <spacer size="20"></spacer>
        </center>
      </td>
    </tr>
  </table>

</body>
</html>