<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Meet new connection option!</title>
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://www.flexihub.com/apple-touch-icon-57x57.png">    
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.flexihub.com/apple-touch-icon-60x60.png">    
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.flexihub.com/apple-touch-icon-72x72.png">    
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.flexihub.com/apple-touch-icon-76x76.png">    
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.flexihub.com/apple-touch-icon-114x114.png">    
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.flexihub.com/apple-touch-icon-120x120.png">    
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.flexihub.com/apple-touch-icon-144x144.png">    
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.flexihub.com/apple-touch-icon-152x152.png">    
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.flexihub.com/apple-touch-icon-180x180.png">    
  <link rel="icon" type="image/png" href="https://www.flexihub.com/favicon-32x32.png" sizes="32x32">    
  <link rel="icon" type="image/png" href="https://www.flexihub.com/android-chrome-192x192.png" sizes="192x192">   
  <link rel="icon" type="image/png" href="https://www.flexihub.com/favicon-96x96.png" sizes="96x96">    
  <link rel="icon" type="image/png" href="https://www.flexihub.com/favicon-16x16.png" sizes="16x16">
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../dist/styles.css" inline>
</head>
<body>

  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="20"></spacer>
          <container class="border-radius-top">
            <spacer size="16"></spacer>
            <row class="email-border">
              <columns large="6" small="6">
                <a href="https://www.flexihub.com" class="logo" target="_blank"><img src="https://www.eltima.com/submit/promo/37891/img/group@2x.png" width="122" height="30" alt="FlexiHub"></a>
              </columns>
              <columns large="6" small="6">
                <p class="text-right">
                  <a href="" target="_blank" class="open-browser"><img src="https://www.eltima.com/submit/promo/37891/img/head-open-in-browser-icon@2x.png" width="26" height="26" alt="browser"/></a>
                </p>
              </columns>
            </row>
          </container>
          <container class="row-img-bg">
            <spacer size="41"></spacer>
            <row>
              <columns large="4" small="12" class="large-offset-1">
                <table class="small email-badge"><tr><td><table><tr><td>Update 3.3</td></tr></table></td></tr></table>
              </columns>
            </row>
            <spacer size="16"></spacer>
            <row>
              <columns large="9" small="12" class="large-offset-1">
                <span class="heading">Meet new connection option!</span>
              </columns>
            </row>
            <spacer size="12"></spacer>
            <row>
              <columns large="9" small="12" class="large-offset-1">
                <span class="description">
                  FlexiHub keeps getting better! Today, we are happy to announce the latest update to 
                  <a href="https://www.flexihub.com/" class="basic-link link-white">FlexiHub for Windows.</a>
                </span>             
              </columns>
            </row>
          </container>
          <container class="border-radius-bottom bg-white">
            <spacer size="60"></spacer>
            <row>
              <columns large="9" small="12" class="large-offset-1">
                <p class="basic-text">The new version adds lots of minor improvements as well as the new outstanding feature called <strong>“Keep connections active”</strong>. The new option will let you stay connected to your remote devices even if your computer temporarily lost the Internet connection, or the device was unplugged from the server machine for a few minutes. For more details, see FlexiHub <a href="https://www.eltima.com/wiki/user-guides/flexihub/flexihub-windows/connections-active.html" class="basic-link link-blue">user guide.</a></p>

                <p class="basic-text">The new connection option is now available in the Options menu.</p>
              </columns>
              
            </row>
            <spacer size="14"></spacer>
            <row>
              
              <columns large="9" small="12" class="large-offset-1">
                <button href="https://www.flexihub.com/download.html" class="custom expanded">Download FlexiHub</button>
              </columns>
             
            </row>
            <spacer size="24"></spacer>

          </container>
          <spacer size="20"></spacer>
        </center>
      </td>
    </tr>
  </table>

</body>
</html>